bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.SmartDose/.idea/.gitignore
/.idea/.idea.SmartDose/.idea/libraries/appcompat_v7_28_0_0_3.xml
/.idea/.idea.SmartDose/.idea/libraries/cardview_v7_28_0_0_3.xml
/.idea/.idea.SmartDose/.idea/codeStyles/codeStyleConfig.xml
/.idea/.idea.SmartDose/.idea/libraries/design_28_0_0_3.xml
/.idea/.idea.SmartDose/.idea/encodings.xml
/.idea/.idea.SmartDose/.idea/indexLayout.xml
/.idea/.idea.SmartDose/.idea/libraries/mediarouter_v7_28_0_0_3.xml
/.idea/.idea.SmartDose/.idea/misc.xml
/.idea/.idea.SmartDose/SmartDose.Android.iml
/.idea/.idea.SmartDose/.idea/libraries/support_v4_28_0_0_3.xml
/.idea/.idea.SmartDose/.idea/vcs.xml
/.idea/.idea.SmartDose/.idea/discord.xml
/.idea/.idea.SmartDose/.idea/dictionaries/Martin.xml
